@import "tailwindcss";

@theme {
  --color-eagle-green-950: #015A64;
  --color-eagle-green-500: #015A6480;
  --color-eagle-green-100: #015A641A;
  --color-pale-robin-egg-blue-950: #87E4DA;
  --color-blue-sapphire-950: #13646D;
}

body {
  font-family: "Inria Serif", serif;
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;

}

html {
  scroll-behavior: smooth;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.department-card-gradiant {
  background: #00000000;
  background: -webkit-linear-gradient(180deg, #00000000 0%, #015A641A 19%, #015A64FF 100%);
  background: -moz-linear-gradient(180deg, #00000000 0%, #015A641A 19%, #015A64FF 100%);
  background: linear-gradient(180deg, #00000000 0%, #015A641A 19%, #015A64FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#015A64FF", GradientType=0);
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}